.super-mario{
  width: 120px;
  position: absolute;
  top: 80px;
  left: 50px;
}
.goomba{
  width: 90px;
  position: absolute;
  left: 280px;
  top: 180px;

}
.word{
  font-size: 15px;
  width: 80px;
  position: absolute;
  top: 94px;
  left: 310px;
  z-index: 2;
}
.baloon{
  width: 100px;
  position: absolute;
  top: 100px;
  left: 300px;
  z-index: 1;
}
.bowser{
  width: 180px;
  position: absolute;
  top: 80px;
  left: 400px;
}