.pokedex {
  display: flex;
}

.pokemon-card {
  display: flex;
  border: 2px solid;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}